html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background-color: white;
    font-family: 'Nunito',
        sans-serif;
    overflow-x: hidden;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
    font-weight: 800;
}

h3 {
    font-size: 30px;
    font-weight: 800;
}

/* Nav*/

.navbar-mio {
    background-color: white;
}


/*Hero*/


#hero {
    padding: 6rem 0rem 6rem 0rem;
    background-image: url(../img/Hero.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#hero h1 {
    font-weight: 800;
    color: white;
}

#hero p {
    font-size: 1.2rem;
    letter-spacing: 0.1em;
    color: white;
}

.btn-mio {
    border: 1px solid white;
    padding: 0.5rem 2rem 0.5rem 2rem;
    color: white;
}

.btn-mio:hover {
    border: 1px solid white;
    background-color: white;
    color: black;
}


/*About*/

#about {
    background-color: white;
    padding: 4rem 0rem 3rem 0rem;
    color: black;
}

#about h2 {
    color: #2A2761;
}


/*VENTAJAS & SERVICIOS*/

#services {
    background-color: white;
    padding: 1rem 0rem 4rem 0rem;

}

#services h2 {
    color: #2A2761;
}

.card-img-top {
    width: 100%;
    object-fit: cover;
}



/*COVERAGE*/

#coverage {
    padding: 4rem 0rem 4rem 0rem;
    background-color: #2A2761;
    color: white;
    font-size: 14px;
}


#coverage h3 {
    font-weight: 800;
}

#coverage h5 {
    font-weight: 600;
}


/*CLIENTS*/

#clients {
    background-color: white;
    padding: 4rem 0rem 4rem 0rem;
}

#clients img {
    width: 60%;
    filter: grayscale();
}

#clients img:hover {
    filter: grayscale(0);
}


.swiper-pagination {
    margin-top: 5rem;
}

.btn-cobertura {
    border: 1px solid white;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    color: white
    ;
}

.btn-cobertura:hover {
    background-color: white;
    color: black;
}

.mapa {
    width: 100%;
    height: 500px;
}



/* CONTACTO*/

#contact {
    background-color: #2A2761;
    color: white;
    padding: 4rem 0rem 4rem 0rem;
}

#contact button {
    color: white;
    border: 1px solid white;
}

#contact button:hover {
    background-color: white;
    color: black;
}

#contact a {
    color: white;
    text-decoration: none;
}


/*REDES*/

#redes {
    background-color: #524E99;
    padding: 1rem 0rem 1rem 0rem;
    color: white;
}

#redes a {
    text-decoration: none;
    color: white;
}

/*Legales*/

#legales {
    background-color: white;
    padding: 1rem 0rem 1rem 0rem;
    color: #59595b;
}

#legales a {
    font-size: 14px;
    text-decoration: none;
    color: #59595b;
}

#legales p {
    font-size: 14px;
    color: #59595b;
}



/*CERTIFICADOS*/

#certifications {
    background-color: white;
    padding: 4rem 0rem 4rem 0rem;
}

.pdf {
    background-color: #F5F5F5;
    padding: 0.5rem;
}

.pdf p {
    margin: 0rem;
}

.pdf_text {
    display: inline-block;
    padding-left: 0.3rem;
}

.pdf a {
    text-decoration: none;
    color: black;
}




/* Media Queries */

@media (min-width: 320px) {

    .swiper-container {
        width: 100%;
        height: 200px;
    }

    .form {
        width: 100%;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

    .swiper-container {
        width: 100%;
        height: 200px;
    }


}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

    #coverage img {
        width: 70%;
    }

}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .form {
        width: 60%;
    }
}